#rightMenu {
  margin-right: 5%;
}

/* Photo by Jie on Unsplash */
#main-conatiner {
  height: 1500px;
  background-image: url("../images/pokeball-background.jpg");
  background-size: cover;
}

#navHeaderContainer {
  height: 80%;
  margin-left: 3%;
  padding-top: 0.5%;
  display: flex;
  justify-content: center;
}

#pokemon-title {
  margin-top: 2%;
  height: 100%;
  width: 100%;
}

#bolded-header {
  width: 90%;
  padding-bottom: 5%;
  font-size: 700%;
  color: rgb(255, 203, 5);
  -webkit-text-stroke: 6px rgb(42, 117, 187);
}

#navContainer {
  position: fixed;
  top: 0;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  height: 160px;
  width: 100%;
  margin-bottom: 10px;
  background-color: red;
  border-bottom: solid;
  border-width: 5px;
  border-color: rgb(42, 117, 187);
}

#pokeSelectContainer {
  display: flex;
  justify-content: space-between;
  margin-right: 3%;
  margin-top: 2%;
}

#genSelectRoot {
  margin: 5%;
  padding: 2%;
}

#pokemonSearchRoot {
  margin-top: 2%;
}

#pokemonNameContainer {
  display: flex;
  padding: 2%;
  border-bottom: solid;
  border-width: 5px;
  border-color: rgb(42, 117, 187);
}

.name-text {
  font-size: 35px;
  margin-top: 37px;
}

#pokemon-image {
  height: 150px;
  width: 150px;
  margin-left: 330%;
  right: 0px;
  border: solid;
  border-width: 6px;
  border-radius: 10px;
  border-color: rgb(42, 117, 187);
  background-image: url("../images/background.png");
  background-size: cover;
}

.divider {
  margin: 5px;
}

#bodyContainer {
  position: relative;
  margin-top: 160px;
  top: 50px;
  background-color: rgb(255, 203, 5, 0.8);
  border: solid;
  border-width: 6px;
  border-radius: 10px;
  border-color: rgb(42, 117, 187);
}

.info-container {
  padding: 2%;
}

.physical-container {
  padding-bottom: 2%;
}

.info-text {
  font-size: 35px;
}

.footer {
  padding: 10px !important;
  border-top: solid;
  border-width: 5px;
  border-color: rgb(42, 117, 187);
  background-color: red;
}

#footerPic {
  height: 20%;
  width: 20%;
}
